﻿@model decimal?
@if (Model.HasValue)
{
    if (Model.Value >= 7)
    { <div style="color:Green"><text>@Model.Value</text></div> }
    else
    { <div style="color:Red"><text>@Model.Value</text></div> }
} 