﻿body { margin: 0px; color:#3e3e3e; background: #fff; }
h1, h2, h3, h4, h5 { padding: 0; margin: 0; font-weight: normal;}
h1 { font-size: 3em; font-weight: normal; }
h2 { font-size: 1.5em; font-weight: normal; }

a { color: #0000ff; }

ul { list-style: none; margin:0; padding: 0; }
ul { margin:0; padding: 0; }

fieldset { padding: 10px; }
fieldset legend { padding: 4px; border: solid 1px #d3d3d3;  color: #b3b3b3; font-size: .8em; }

table td { vertical-align: top; }

input[type=text], input[type=password] { padding: 5px; }

.watermark {
	color: #999 !important;
}

.field-validation-error { color: #ff0000 !important; }
.field-validation-valid { display: none; }
.input-validation-error { border: 1px solid #ff0000 !important; background-color: #ffeeee !important; }
.validation-summary-errors { font-weight: bold; color: #ff0000 !important; }
.validation-summary-valid { display: none; }

.always-redirect, .always-redirect td {
	background-color: #FF6100 !important;
	color: #ffffff !important;
}
.always-redirect a {
	color: #ffffff !important;
}

#menu-bar { padding: 5px; }
#menu-bar ul li { float: left; }
#menu-bar ul li a span { padding: .4em 2.7em;display: inline;}
.ui-menu { margin-top: 20px; }
.ui-menu a { padding: 5px 20px; border-right: solid 1px #d3d3d3;color: #555555; }
.ui-menu a.last { border: none; }

#last-login-time { float: right; font-size: .7em; }
#greeting { font-size: .7em; }

#site-context-bar { font-size: .9em; margin-top: 15px; }
#site-context-bar label { margin-left: 25px; }
#site-context-bar label.first { margin-left: 0px; }

#spsv2-pivot-selectors div { margin-top: 10px; float:left; }
#spsv2-pivot-selectors div label { display: block;width: 200px;float: left; }
#spsv2-pivot-selectors div input, #spsv2-pivot-selectors div select { width: 200px; max-width: 200px; padding: 5px; }
#spsv2-pivot-selectors div input, #spsv2-pivot-selectors div select { box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
#spsv2-pivot-selectors div:nth-child(even) { margin-left: 20px; }
#spsv2-pivot-selectors { font-size: .9em; }

.breadcrumb { font-size: .7em; color: #ffa500; }
.breadcrumb li { float: left; padding: 10px 20px; background: url(/content/images/breadcrumb-sep.png) no-repeat left 50%;}
.breadcrumb li.first { padding-left: 0px; background: none; }

#wrapper {
	margin: 0 auto;
	min-width: 1280px;
}

#content 
{
	padding: 5px;
	min-height: 500px;
}

#footer {
    padding: 1.5em 0 1.5em 0;
	margin-bottom: 2em;
	clear: both;
	overflow: hidden;
	color: #3e3e3e;
	font-size: .5em;
	text-align: center;
}

#footer p {
	margin-bottom: 0;
}

#footer ul li { float: left; border-left: 1px solid #6e6e6e; padding: 0px 10px; }
#footer ul li.first { border-left: none; }

.ui-corner-none { -moz-border-radius: 0px/*{cornerRadius}*/; -webkit-border-radius: 0px/*{cornerRadius}*/; border-radius: 0px/*{cornerRadius}*/; }

.ui-table
{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 40px;
	color: #000000;
}
.ui-table th { padding: 4px; }
.ui-table a { color: #000000; }
.ui-table tbody tr:hover { background-color: #a3a3a3; }
.ui-table tbody tr:hover td { color: #000000; }
.ui-table tbody tr:hover td a { color: #000000; }


#inlineKeywordsDiv {
    background-color: white !important;
    font-family: Verdana,Arial,sans-serif !important;
    font-size: 16px !important;
}

#inlineKeywordsDiv a {

    text-decoration: underline;
     cursor: pointer;
     padding: 15px;
}

#inlineKeywordsDiv a.disabled {
   pointer-events: none;
   cursor: default;
   color: gray;
}

#inlineKeywordsDiv .ui-button {
   margin: 10px;
}

.automatic-weighting-div {
    font-size: 0.7em;
    display: inline;
}

#redirectors-table, .fixedHeader-floating { font-size: .8em; }
.fixedHeader-floating a { color: #3e3e3e}
#redirectors-table thead th { cursor: pointer; }
#redirectors-table ul li span { color: #777; } 
#redirectors-table .expando { font-weight: normal; font-size: .9em; padding: 0 10px; border: solid 10px #e3e3e3; }
#redirectors-table .expando ul.menu {  }
#redirectors-table .expando ul.menu li { float: left; border-left: 1px solid #6e6e6e; padding: 0px 10px;  }
#redirectors-table .expando ul.menu li.first { border-left: none; }

#redirectors-table .expando-details { margin-top: 15px; font-size: 1.3em; }
#redirectors-table .expando-details a { color: #0000ff; font-size: 1.1em; text-decoration: none; }
#redirectors-table .expando-details a:hover { text-decoration: underline; }
#redirectors-table_info, #spend-matrix-table_info { display: none; }

#redirector-lookups-filters { font-size: .8em; }
#redirector-lookups-filters thead th { cursor: auto; }
#redirector-lookups-filters ul li span { color: #777; }

form div label { display: block;width: 200px;float: left;vertical-align: middle;}

.ui-buttonset { margin: 10px 0; }
.cancel { margin: 3px 10px; }

#add-sites-dialog { width: 590px; height: 260px; overflow-y: auto; }
#add-sites-dialog table { width: 100%; }

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }

#graphs { list-style: none;margin: 0;padding:0;width: 100%; }
#graphs li { width: 50%;text-align: center;float: left; }

.graph { text-align: center; width: 450px; float: left; margin-top: 20px;}
.graph input[type=text] { width: 400px; font-size: .8em; }

.ui-dialog-titlebar-off .ui-dialog-titlebar { display: none; }

.width-small { width: 75px; }
.width-medium { width: 200px; }
.width-large { width: 500px; }

#date-range-filter { margin: 0;padding: 0;list-style: none; }
#date-range-filter li {float: right; margin: 0;text-align: center; padding: 5px; }
#date-range-filter li a {   }

.dashboard-content { font-size: 16px; }
.dashboard-content .dashboard-widget { margin: 10px; padding-bottom: 30px; float: left; min-width: 300px; min-height: 200px; }
.dashboard-content .ui-tabs .ui-tabs-panel { padding-bottom: 0px; }

.dashboard-content .ui-widget-header { padding: 10px; margin-bottom: 20px; }

.positive { color: #00ff00; }
.negative { color: #ff0000; }

.font-large { font-size: 130%; }
.font-small { font-size: 70%; }

.ui-note { font-style: italic; color: #6e6e6e; }

.css_right { float: right; }
.right { float: right; }
.left { float: left; }
.clear { clear: both; }

ul.ui-checkbox-list { list-style: none;margin: 0;padding: 0; }
.ui-checkbox-list li { padding: 0;margin: 5px 0px;width: 25%;float: left;vertical-align: top;}
.ui-checkbox-list li label { margin: -3px 0px 0px 10px;}
.ui-checkbox-list li span { font-size: .7em;color: #666; }

.nowrap { white-space: nowrap; }
.ui-detail-fields { margin: 15px 0px; }
.ui-detail-field { font-size: .9em; margin-top: 10px;}
.ui-detail-field label { color: #666; width: 240px; height: 5px;}
.ui-detail-field span { color: #666; }
.ui-detail-field .radio-label { color: #000; width: auto; float: none; display: inline;}
.ui-detail-title {margin-bottom: 20px;}
.ui-detail-title h1 { margin-bottom: 0px; padding-bottom: 0px; }  
.ui-detail-title h3 { margin: 10px 0px 0px 0px; padding: 0px; }
.ui-detail-title span { color: #666;  }

.short { width: 100px; }
.wide { width: 500px; }
.extrawide { width: 1000px; }
.tall { height: 300px; }
.textareakeywords {
    width: 300px;
    height: 100px;
}

.ui-actions 
{
	 padding: 15px;
}
.ui-actions a 
{
}

.editable { text-decoration: underline; cursor: pointer; }

#keywords-grid { margin: 20px 0px; }

#Notifications { position: fixed; top: 0px; left: 0px; z-index: 3; width: 1000px; }
#SpendAccountsTabNotifications { margin-bottom: 10px; }
.notification { font-size: .8em; padding: 15px; display: none; }
.Info { color: #64992E; border: solid 1px #64992E; background: #EDFCED; }
.Info a { color: #64992E; }
.Error { color: #D8000C; border: solid 1px #D8000C; background: #FDD5CE; }
.Error a { color: #D8000C; }
.Alert { color: #FF6100; border: solid 1px #FF6100; background: #FFDDCC; }
.Alert a { color: #FF6100; }
.Warning { color: #ffa500; border: solid 1px #ffa500; background: #fff6cc; }
.Warning a { color: #ffa500; }

#interactions { padding: 20px; }
#interactions legend { font-size: .8em; border: solid 1px #e3e3e3; padding: 5px; }
#interactions textarea { width: 300px; height: 75px; font-size: .8em; vertical-align: top; margin-bottom: 20px; }

.field-validation-error{ color: #ff0000 !important;font-weight: bold; }

span.required { margin-left: -15px;color: #ffa500;font-weight: bold; }
span.note { margin-right: 15px; color: #ffa500; font-size: small; }

#tracking-scripts {margin-top:20px; width: 900px;}
.snippet-container { width: 800px;max-height: 400px; }
.snippet-wrap { max-height: 400px; }
.sh_sourceCode { max-height: 400px; }

.tabs { margin-top: 10px; }

.TextAreaForWide { width: 300px; }

table.bidHistoryTable {
    border: 1px solid black;
    font-size: 0.8em;
}

table.bidHistoryTable th {
    text-align: center;
    background-color: #B8B8B8
}

table.bidHistoryTable th, table.bidHistoryTable td {
    border: 1px solid black;
    padding: 5px;
}

table.bidHistoryTable tr {
    background-color: #FFF  ;
}




.hyperlink {
    text-decoration: underline;
    cursor: pointer;
}

.showMoreNotesLink {
    text-decoration: underline;
    cursor: pointer;
    color: blue !important;
}

.skinManagerTable th {
   padding: 10px;
   background-color: aliceblue;
}

.skinManagerTable td {
   padding: 10px;
}

.skinManagerTable tbody tr:nth-child(odd) {
    background-color: #EBE0FF;
}

ul.inline_form li {
    float: left;
    display: block;
    padding-right: 15px;
    list-style-type: none;
}

.button {
    border: 1px solid black;
    text-decoration: none !important;
    cursor: pointer;
    padding: 1px 3px;
    background-color: #F0F0F0;
}

table.bidQueueTable {
    border: 1px solid black;
    border-spacing: 0px;
}

table.bidQueueTable tr {
    background-color: #FFF;
}

table.bidQueueTable th {
    text-align: center;
    background-color: #B8B8B8
}

table.bidQueueTable th, table.bidQueueTable td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    vertical-align: top;
}
  
@media screen and (max-width:800px) {
    #wrapper {
        min-width: 0px;
    }
    #menu-bar ul li a span { padding: .1em 0.7em;display: inline;}
    .ui-menu { margin-top: 10px; }
    .ui-menu a { padding: 1px 2px; border-right: solid 1px #d3d3d3;color: #555555; }
    .ui-table {
        width: auto;
    }
}

table.withSpacing td {
    padding: 20px;
}

/**Redirectors History */
.redirectorsTableRow .last-updated{
    width:18px;
    height:18px; 
    background-color:#aaaaaa; 
    color:white;
    border-radius:9px;
    vertical-align:middle;
    display:inline-block;
    font-size:8px;
    text-align:center;
    line-height:18px;
    text-decoration:none;
}
.redirectorsTableRow .last-updated.today {
    background-color:#99C985; 
}
