﻿<script type="text/javascript">
	$(document).ready(function () {
		var offset = new Date().getTimezoneOffset();
		$.post("@Url.Action("SetTimezoneOffset","Context")", { offset: offset }, function(html) {
			$("#last-login-time").replaceWith(html);
		}, 'html');
	});
</script>

<div id="last-login-time"></div>