﻿@model DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="dashboard-content" style="float:right;">
    @*@Html.Action("Alerts")*@
    <div style="clear:both;"></div>
</div>
<div class="dashboard-content">

    <h3>Welcome to Spend loading portal.</h3>

</div>
<div style="clear:both;"></div>

