﻿@model IEnumerable<GhostLog>

<table id="ghostlog-table" class="ui-table" dt-filter="false" dt-sort="false">
    <tr>
        <th>TimeStamp</th>
        <th>Message</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.TimeStamp)</td>
        <td>@Html.DisplayFor(modelItem => item.Message)</td>
    </tr>
}

</table>
