﻿@model GhostQueueViewModel
<table id="ghostqueue-table" class="ui-table" dt-filter="false" dt-sort="false">
    <thead>
        <tr>
            <th>Added</th>
            <th>Run</th>
            <th>Sent</th>
            <th>Fulfilled</th>
            <th>Errors</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GhostQueue)
        {
            <tr>
                <!-- TODO: figure out why data annotations aren't working [GhostQueueMeta]-->
                <td>@Html.DisplayFor(modelItem => item.AddedToQueue)</td>
                <td>@Html.DisplayFor(modelItem => item.QueuedUTCDateTime)</td>
                <td>@Html.DisplayFor(modelItem => item.RequestSent)</td>
                <td>@Html.DisplayFor(modelItem => item.RequestFulfilled)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestError) 
                    @if (item.RequestError)
                    {
                        @Html.ActionLink("View", "GhostLog", "Ghost", new { id = item.SpendAccountId }, new { @class = "popup-dialog", title = "Ghost Error Log", dialogWidth = 700 })
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
