﻿@{
    ViewBag.Title = "Bulk Upload Domains";
}

<h2>@ViewBag.Title</h2>

<br /><br />
@using (Html.BeginForm("UploadDomains", "Bulk", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <div>
            <label>File</label>
            <input type="file" name="file" id="file" />
            <br />
            <a href="../../Files/new_wpx.csv">Sample File</a>
        </div>
        <p>
	        <input type="submit" class="ui-button" value="Upload" style="padding-top: 2px; padding-bottom: 2px;" />
        </p>
    </div>
}
<br />
<div>@ViewBag.Message</div>
