﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/themes/smoothness/jquery-ui-1.8.20.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/Site.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery-ui-1.8.17.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.livequery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/modernizr-2.8.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/datatables/jquery.dataTables.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/scripts/site.js")" type="text/javascript"></script>

</head>
<body class="ui-widget">
    
    <div id="wrapper">

	    <div id="content" class="ui-widget-content ui-corner-all">
            @RenderBody()
	    </div>
	
	    <div id="footer">
		    @{ /* Request.Url.Host Copyright © @DateTime.Today.Year ConcourseMedia. All rights reserved. */ }
	    </div>
    </div>
</body>
</html>
