﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    
    <title>@ViewBag.Title</title>
    
    <!-- Build date: @File.GetLastWriteTime(ViewContext.Controller.GetType().Assembly.Location) -->

    <link href="@Url.Content("~/content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/themes/smoothness/jquery-ui-1.8.20.custom.css")" rel="stylesheet" type="text/css" />
    
    <!--<link href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"  rel="stylesheet" type="text/css"/>-->
    <link href="@Url.Content("~/scripts/datatables/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
        
    <link href="@Url.Content("~/scripts/datatables/css/jquery.dataTables_themeroller.css")" rel="stylesheet" type="text/css" />

	<link href="@Url.Content("~/scripts/fancybox/jquery.fancybox.css?v=2.0.5")" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/content/jquery.handsontable.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/jquery.snippet.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/jquery-ui-timepicker-addon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/pivot.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/jquery.tabs.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery-ui-1.8.17.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.livequery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/modernizr-2.8.3.js")" type="text/javascript"></script>
    
    <script src="@Url.Content("~/scripts/datatables/jquery.dataTables.min.js")" type="text/javascript"></script>

	<script src="@Url.Content("~/scripts/fancybox/jquery.fancybox.pack.js?v=2.0.5")" type="text/javascript"></script>
	<script src="@Url.Content("~/scripts/jquery.jeditable.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/scripts/jquery.watermark.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/scripts/jquery.easytabs.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/scripts/jquery.hashchange.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.dropdown.cascade.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.handsontable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.snippet.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery-ui-timepicker-addon.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/knockout-3.1.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/numeral.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/highcharts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/highcharts-exporting.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/function-library.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/xdate.js")" type="text/javascript"></script>
    <!--<script src="@Url.Content("~/scripts/bootstrap.min.js")" type="text/javascript"></script>-->

    <script src="@Url.Content("~/scripts/pivot.min.js")" type="text/javascript"></script>
    
    <script src="@Url.Content("~/scripts/nrecopivottableext.js")" type="text/javascript"></script>


    <script src="@Url.Content("~/scripts/site.js")" type="text/javascript"></script>


    <style>
        .handsontable {
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.3em;
            font-size: 13px;
        }
    </style>
</head>
<body class="ui-widget">
    <div id="wrapper">
		<div id="menu-bar">
			@Html.Partial("_LogOnPartial")
			@RenderSection("SiteContextBar", required: false)
			@RenderSection("MenuNavigation", required: false)
		</div>
		<div class="clear"></div>
	    <div id="content" class="ui-content ui-corner-all">
            @RenderBody()
	    </div>
	
	    <div id="footer">
			@Html.Partial("CurrentTime")

		    @{ /* Request.Url.Host Copyright © @DateTime.Today.Year ConcourseMedia. All rights reserved. */ }
	    </div>
    </div>
</body>
</html>
