﻿@{
    var pst = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time"));
    var est = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById("Eastern Standard Time"));
}

<ul>
	<li class="first"><div>UTC: <b>@DateTime.UtcNow.ToString("h:mm tt")</b></div></li>
    <li><div>EST: <b>@est.ToString("h:mm tt")</b></div></li>
    <li><div>PST: <b>@pst.ToString("h:mm tt")</b></div></li>
</ul>
