﻿<!-- <option value="Today">Today Realtime</option> -->
<option value="Yesterday" selected="selected">Yesterday</option>
<option value="TwoDaysAgo">2 days ago</option>
<option value="ThreeDaysAgo">3 days ago</option>
<option value="LastThreeDays">Last 3 days</option>
<option value="ThreeDaysPriorToYesterday">3 Days Prior to Yesterday</option>
<option value="LastSevenDays">Last 7 days</option>
<option value="SevenDaysPriorToYesterday">7 Days Prior to Yesterday</option>
<option value="ThisWeek">This week</option>
<option value="LastWeek">Last week</option>
<option value="LastFourteenDays">Last 14 days</option>
<option value="LastThirtyDays">Last 30 days</option>
<option value="ThisMonth">This month</option>
<option value="LastMonth">Last month</option>
<option value="Custom">Custom</option>