﻿@model dynamic
@{
	dynamic model = Model ?? new
	{
		action = ViewContext.RouteData.Values["action"] as string,
		controller = ViewContext.RouteData.Values["controller"] as string,
		currentFilterString = Request.QueryString["dateRangeFilter"]
	};

	DateRanges filter;
	var currentFilter = Enum.TryParse(model.currentFilterString as string, out filter)
		? filter
		: null as DateRanges?;

	var cnt = 1;
	var items = ((IEnumerable<DateRanges>) Enum.GetValues(typeof (DateRanges))).ToList();
}

<ul id="date-range-filter">
	@foreach (var item in items)
 {
	 var href = currentFilter.HasValue && currentFilter.Value == item
		 ? null
		 : Url.Action(model.action, new { model.controller, dateRangeFilter = item.ToString("g") });

	 var separator = new MvcHtmlString(cnt++ == items.Count
		 ? ""
		 : "<li>|</li>");
		

	 if (string.IsNullOrEmpty(href))
	 {
		<li><span class="selected">@item.ToString("g")</span></li> @separator
	 }
	 else
	 {
		<li><span><a href="@href">@item.ToString("g")</a></span></li> @separator
	 }
}
</ul>
<div style="clear:both;"></div>