﻿@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = User.Identity.IsAuthenticated
        ? "~/Views/Shared/_Layout.cshtml"
        : "~/Views/Shared/_AnonymousLayout.cshtml";
	
	var rand = new Random();
}

<div class="ui-detail-title">

	<img src="@Url.Content(string.Format("~/content/images/monkey{0}.jpg", rand.Next(3)))" alt="monkey" class="right" />
	<h1>Shizer! An error has occurred.</h1>
	
	@if (User.Identity.IsAuthenticated)
 {
	 Html.Action("Display", "Notifications");
 }

	<h3>@Model.Exception.GetType().Name</h3>
	<span>@Model.Exception.Message</span>
</div>

Return to the @Html.ActionLink("home page", "index", "dashboard").
<div class="clear"></div>