﻿<!--ul id="menu" class="ui-menu ui-buttonset"-->

	<ul class="ui-menu" id="menu">
		<li>@Html.MenuActionLink("Dashboard", "Index", "Dashboard")</li>
		<li>@Html.MenuActionLink("Graphs", "Index", "Graphs")</li>
		<li>@Html.MenuActionLink("Traffic Management", "Index", "Traffic")</li>
		<li>@Html.MenuActionLink("Site Setup", "Index", "Sites")</li>
        <li>@Html.MenuActionLink("Bid Tool", "Index", "BidTool")</li>
		<li><a href="https://reports.p4pi.net/Reports/browse/Core%20Reports" target="_blank">Reports</a></li>
		<li>@Html.MenuActionLink("Settings", "Settings", "Account")</li>
	</ul>