﻿@model QueryStringAliasViewModel

<style>
    .orderBox {
        width:50px;
    }

</style>
<div class="ui-detail-fields">
	<div class="ui-detail-field">
		@Html.LabelFor(o => o.AdSource)
		@Html.TextBoxFor(o => o.AdSource, new { watermark = "e.g. adsource" })
        @Html.TextBoxFor(o => o.AdSourceOrder, new { watermark = "order", @class = "orderBox" })
	</div>
    <div class="ui-detail-field">
        @Html.LabelFor(o => o.TrafficType)
        @Html.TextBoxFor(o => o.TrafficType, new { watermark = "e.g. traffictype" })
        @Html.TextBoxFor(o => o.TrafficTypeOrder, new { watermark = "order", @class = "orderBox" })
    </div>
    <div class="ui-detail-field">
        @Html.LabelFor(o => o.MatchType)
        @Html.TextBoxFor(o => o.MatchType, new { watermark = "e.g. matchtype" })
        @Html.TextBoxFor(o => o.MatchTypeOrder, new { watermark = "order", @class = "orderBox" })
    </div>

	<div class="ui-detail-field">
		@Html.LabelFor(o => o.Campaign)
		@Html.TextBoxFor(o => o.Campaign, new { watermark = "e.g. campaign" })
        @Html.TextBoxFor(o => o.CampaignOrder, new { watermark = "order", @class = "orderBox" })
	</div>
	<div class="ui-detail-field">
		@Html.LabelFor(o => o.AdGroup)
		@Html.TextBoxFor(o => o.AdGroup, new { watermark = "e.g. adgroup" })
        @Html.TextBoxFor(o => o.AdGroupOrder, new { watermark = "order", @class = "orderBox" })

	</div>
	<div class="ui-detail-field">
		@Html.LabelFor(o => o.Keyword)
		@Html.TextBoxFor(o => o.Keyword, new { watermark = "e.g. keyword" })
        @Html.TextBoxFor(o => o.KeywordOrder, new { watermark = "order", @class = "orderBox" })
	</div>
	<div class="ui-detail-field">
		@Html.LabelFor(o => o.Query)
		@Html.TextBoxFor(o => o.Query, new { watermark = "e.g. query" })
        @Html.TextBoxFor(o => o.QueryOrder, new { watermark = "order", @class = "orderBox" })	
	</div>
@*	<div class="ui-detail-field">
		@Html.LabelFor(o => o.SourceSite)
		@Html.TextBoxFor(o => o.SourceSite, new { watermark = "e.g. sourcesite" })
	</div>
	<div class="ui-detail-field">
		@Html.LabelFor(o => o.Redirect)
		@Html.TextBoxFor(o => o.Redirect, new { watermark = "e.g. redir" })
	</div>
	<div class="ui-detail-field">
		@Html.LabelFor(o => o.TypeTag)
		@Html.TextBoxFor(o => o.TypeTag, new { watermark = "e.g. tt" })
	</div>*@
</div>
