﻿@model LogOnModel

@{
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
    ViewBag.Title = "Access Denied";
}

<h1>@ViewBag.Title</h1>
<p>I'm sorry @User.Identity.Name.Replace("PROD\\", ""), I'm afraid I can't do that</p> (@Html.ActionLink("Log Off", "LogOff", "Account"))


