﻿@model LogOnModel

@{
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
    ViewBag.Title = "Log On";
}

<h1>@ViewBag.Title</h1>
<p>Please log on to proceed.</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">
	function DoLogin(username, password) {
		$("#UserName").val(username);
		$("#Password").val(password);
		
		$("#submitForm").click();
	}
	ClearDataTablesFromStorage();
</script>

@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm()) {
    <div>
        <div>
            @Html.LabelFor(m => m.UserName)
        </div>
        <div>
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div>
		    @Html.LabelFor(m => m.Password)
        </div>
        <div>
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div>
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </div>

        <p>
            <input type="submit" value="Log On" />
        </p>
    </div>
}
