﻿@{
	Layout = "~/Views/Shared/_LayoutNoNavigation.cshtml";
    ViewBag.Title = "Account Settings";
}

@section MenuNavigation {
	@Html.Partial("MainMenu")
}

@Html.Action("Display","Notifications")

<h2>@ViewBag.Title</h2>
<h4>Use this form to change your account settings.</h4>

@using (Html.BeginForm()) {

	/* See Views/Shared/EditorTemplates/User.cshtml */
	@Html.EditorForModel();

	<div class="ui-buttonset">
		<input type="submit" class="ui-button" value="Save" />
	</div>
}