﻿@using (Html.BeginForm("UploadTrackingScript", "Files", FormMethod.Post, new { enctype = "multipart/form-data" } ))
{
<div>
	<label for="file">Tracking Script</label>
	<input type="file" name="file" />
	<input type="submit" class="ui-button" value="Upload" />
</div>	
}
